@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
    {
        <label>Heading Title</label>
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName, "", new { @style = "color:red" })
        <br />
        <label>Heading Category</label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId, "", new { @style = "color:red" })
        <br />
        <label>Heading Creator</label>
        @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.Writers, new { @class = "form-control"})
        @Html.ValidationMessageFor(x => x.WriterId, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-primary">Add Heading</button>
    }
</div>